body {
    /* Variables */
    --font-sz: 10pt;
    --font-sz-sm: 8pt;
    --font-sz-icon: 14pt;
    --font-sz-icon-sm: 12pt;

    /* Styles */
    font-family: -apple-system, "Segoe UI", Helvetica, serif;
    font-size: var(--font-sz);
}
