/* Default theme is dark */
:root {
    --hover-transition: 0.25s;
}

body[data-theme="dark"] {
    --theme-background: #111111;
    --theme-background-header: #333333;
    --theme-background-header-hover: #444444;
    --theme-foreground-header-hover: #80d4ff;
    --theme-foreground: #dddddd;
    --theme-foreground-subtle: #bbbbbb;
}

body[data-theme="light"] {
    --theme-background: #cccccc;
    --theme-foreground: #111111;
}

body {
    background-color: var(--theme-background);
    color: var(--theme-foreground);
}
