/* Flex & layout style */
.flex { display: flex; }
.flex-row { 
    display: flex;
    flex-direction: row; 
}
.flex-column { 
    display: flex;
    flex-direction: column; 
}
.justify-items-center { justify-items: center; }
.justify-content-center { justify-content: center; }
.justify-space-between { justify-content: space-between; }
.align-items-center { align-items: center; }
.align-content-center { align-content: center; }
.width-full { width: 100%; }
.flex-grow { flex-grow: 1; }
.no-break { white-space: nowrap; }